@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Jura", sans-serif;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: #f2f8fc;
}

.pokemon-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 6% 5%;
}

.cards {
  width: 300px;
  background: salmon;
  text-align: center;
  border-radius: 10px;
  box-shadow: 5px 5px 2px black;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease;
}

.cards:hover {
  transform: scale(1.1);
}

.card-img img {
  width: 300px;
}

.card-info {
  padding: 5% 0;
  background: #f4f1f8;
}

.card-info .pokemon-name {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}

.card-type {
  padding: 3% 0 0;
}

.card-type span {
  margin-right: 10px;
  padding: 5px 15px;
  border-radius: 10px;
  color: white;
  font-weight: 600;
}

.cards .description {
  position: absolute;
  padding: 20px;
  text-align: left;
  bottom: 0;
  left: 0;
  width: 100%;
  /* opacity: 0; */
  padding: 10px;
  background: white;
  transition: all 0.3s ease-in-out;
  translate: 0 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.description button {
  width: 100%;
  margin: 5% 0 0;
  padding: 8px 15px;
  border-radius: 10px;
  border: 2px solid transparent;
  font-size: 15px;
  font-weight: 800;
  color: black;
  cursor: pointer;
}

.cards:hover .description {
  translate: 0 0;
  /* opacity: 1; */
}

.search {
  display: flex;
  justify-content: center;
  padding: 5% 0 0;
}

.search input {
  width: 30%;
  height: 40px;
  border: 2px solid black;
  box-shadow: 5px 5px 0 black;
  border-radius: 10px;
  padding: 2px 20px;
}

.not-found {
  text-align: center;
  padding: 8% 0;
}

.not-found h2 {
  font-size: 35px;
  font-weight: 600;
}

.not-found span {
  color: purple;
  font-weight: 800;
}

.filter {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2% 0 0;
  gap: 2rem;
  /* background-color: salmon; */
}

.filter button {
  padding: 10px 15px;
  background: #bbd4db;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
  color: black;
  box-shadow: 3px 3px 0 black;
  transition: 0.3s ease;
  border: none;
}

.filter button:hover {
  background-color: #c1d0de;
  font-weight: 800;
  transform: scale(1.1);
  cursor: pointer;
}

.card-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  padding: 5% 0 0;
  /* overflow: hidden; */
}

.poke-heading {
  text-align: center;
  padding: 5% 0 0;
  font-size: 40px;
  font-weight: 600;
}

.poke-heading span {
  color: purple;
  font-weight: 800;
  text-decoration: underline;
  transition: all 0.2s ease-in-out;
}

.poke-heading span:hover {
  padding: 5px 10px;
  background-color: purple;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  /* transition: all 0.2s ease-in-out; */
  /* transform: rotate(10deg); */
}

.pokemon-detail {
  display: flex;
  gap: 3rem;
  width: 80%;
  height: 80%;
  padding: 40px 50px;
  border-radius: 20px;
  box-shadow: 3px 1px 20px gray;
}

.detail-img img {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  /* border-right: 2px solid black; */
  box-shadow: 5px 5px 10px black;
  border-radius: 10px;
}

.parent-detail {
    display: flex;
    gap: 2rem;
    position: relative;
}

.parent-detail::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 45%;
    width: 3px;
    background-color: black;
    transform: translateX(-45%);
}

.detail-info {
  width: 50%;
  /* height: 30%; */
  /* background-color: beige; */
  /* border-right: 2px solid black; */
  margin-bottom: 5px;
  margin-top: 2rem;
}

.info {
  margin-bottom: 5px;
}

.name-item {
  font-size: 20px;
  color: black;
  font-weight: 800;
}

.types-heading {
  margin-bottom: 5px;
}

.types-item {
  display: inline-block;
  padding: 8px 15px;
  margin-right: 10px;
  border-radius: 10px;
  font-size: 15px;
  color: white;
  font-weight: 600;
}

.location-item {
  display: inline-block;
  padding: 8px 10px;
  margin-right: 5px;
  border-radius: 10px;
  background-color: rgba(159, 159, 159, 0.5);
  font-size: 15px;
  color: black;
  font-weight: 600;
}

.detail-info-2 {
  width: 50%;
  /* height: 30%; */
  margin-top: 4rem;
}

.detail-desc {
  margin-bottom: 5px;
}

.stats-item {
  display: inline-block;
  padding: 8px 10px;
  margin-right: 5px;
  border-radius: 10px;
  background-color: rgba(159, 159, 159, 0.5);
  font-size: 15px;
  color: black;
  font-weight: 600;
}

::-webkit-scrollbar {
  width: 15px;
  background-color: #f2f8fc;
}

::-webkit-scrollbar-thumb {
  background-color: #c1d0de;
}

@media only screen and (max-width: 701px) {
  .filter {
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem 0;
  }
  .filter button {
    width: 40%;
    text-align: center;
    margin-bottom: 1rem;
  }
  .search input {
    width: 50%;
  }
}

@media only screen and (max-width: 1523px) {
  .pokemon-detail {
    gap: 2rem;
  }
  .detail-img img {
    width: 250px;
    height: 250px;
  }
  .detail-info,
  .detail-info-2 {
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 1421px) {
  .stats-item {
    margin: 2px 2px;
  }
}

@media only screen and (max-width: 1321px) {
  .location-item {
    margin: 2px 2px;
  }
}

@media only screen and (max-width: 1284px) {
    .detail-info {
        margin-top: 0;
    }
    .detail-info-2 {
        margin-top: 0;
    }
}

@media only screen and (max-width: 1097px) {
  .detail-img img {
    width: 200px;
    height: 200px;
  }
  .detail-info,
  .detail-info-2 {
    margin-top: 0;
  }

  .name-heading,
  .types-heading,
  .location-heading,
  .stats-heading,
  .desc-heading {
    font-size: 18px;
  }

  .name-item,
  .types-item,
  .location-item,
  .stats-item,
  .desc-item {
    font-size: 15px;
    margin-bottom: 2px;
  }
  .types-item,
  .location-item,
  .stats-item {
    padding: 5px 5px;
  }
}

@media only screen and (max-width: 977px) {
    .stats-item, .location-item {
        font-size: 13px;
    }
}

@media only screen and (max-width: 918px) {
    .detail-img img {
        width: 180px;
        height: 180px;
    }
}

@media only screen and (max-width: 893px) {
    .pokemon-detail {
        display: flex;
        flex-direction: column;
    }
    .detail-info, .detail-info-2 {
        display: inline-block;
    }
    .detail-img {
        display: flex;
        justify-content: center;
        border-bottom: 5px solid black;
    }
    .detail-img img {
        width: 200px;
        height: 200px;
        margin-bottom: 2rem;
    }
    .parent-detail::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 48%;
        width: 2px;
        background-color: black;
        transform: rotateX(-48%);
    }
}

@media only screen and (max-width: 680px) {
    .detail-img img {
        width: 150px;
        height: 150px;
    }
}

@media only screen and (max-width: 622px) {
    .name-heading,
    .types-heading,
    .location-heading,
    .stats-heading,
    .desc-heading {
      font-size: 15px;
    }
  
    .name-item,
    .types-item,
    .location-item,
    .stats-item,
    .desc-item {
      font-size: 12px;
      margin-bottom: 2px;
    }
}

@media only screen and (max-width: 576px) {
    .parent-detail {
        display: flex;
        flex-direction: column;
    }
    .parent-detail::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        top: 48%;
        background-color: black;
        transform: translateX(-48%);
    }
    .detail-info, .detail-info-2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        gap: 2rem;
    }
    .location-heading {
        text-align: center;
    }
    .name-item {
        font-size: 12px;
        padding: 5px 5px;
        background-color: purple;
        color: white;
        font-weight: 800;
        border-radius: 10px;
    }
}

@media only screen and (max-width: 554px) {
    .location-heading {
        text-align: left;
    }
}

@media only screen and (max-width:520px) {
    .name-item, .types-item, .location-item, .stats-item {
        font-size: 10px;
    }
}

@media only screen and (max-width: 345px) {
    .detail-info {
        display: flex;
        flex-wrap: wrap;
        gap: 1px;
    }
    .parent-detail::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        margin-top: 10px;
        top: 50%;
        background-color: black;
        transform: translateX(-50%);
    }
}